<div class="row">
  <div *ngIf="rules">
    <div *ngFor="let rule of rules" class="rule-list-container" (click)="toggleSelection(rule.id, checkbox)">
      <mat-checkbox color="primary" #checkbox [checked]="checkSelection(rule.id)">
        <p>{{rule.name}}</p>
      </mat-checkbox>
    </div>
  </div>
  <div class="buttons">
    <div>
      <button class="button" mat-raised-button color="primary" (click)="selectAll()">{{this.selectedRules.length == this.rules.length ? 'Отменить ' : 'Выбрать '}} все правила</button>
    </div>
    <div>
      <button class="button" mat-raised-button color="primary" (click)="selectForAllSessions()">Применить ко всем сессиям</button>
    </div>
  </div>
</div>